:root {
  --simpleSelect-border: rgba(0, 0, 0, 1);
}

.simple-select {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  outline: 0;
  padding: 8px;
  border: 1px solid var(--simpleSelect-border, #ccc);
  border-radius: 4px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.simple-select:focus {
  border: 1px solid var(--simpleSelect-border, #007bff);
}
