:root {
  --simpleSelect-border-radius: 4px;
  --simpleSelect-border: rgba(204, 204, 204, 1);
  --simpleSelect-border-focus: rgba(38, 132, 255, 1);
  --simpleSelect-input-color: rgba(0, 0, 0, 1);
  --simpleSelect-placeholder-color: rgba(128, 128, 128, 1);
  --simpleSelect-separator-color: rgba(204, 204, 204, 1);
  --simpleSelect-indicator-color: rgba(204, 204, 204, 1);
  --simpleSelect-indicator-color-active: rgba(102, 102, 102, 1);
  --simpleSelect-dropdown-bg: rgba(255, 255, 255, 1);
  --simpleSelect-option-focus-bg: rgb(222, 235, 255, 1);
  --simpleSelect-option-focus: rgba(0, 0, 0, 1);
  --simpleSelect-option-active-bg: rgba(49, 129, 250, 1);
  --simpleSelect-option-active: rgba(255, 255, 255, 1);
  --simpleSelect-no-option: rgba(153, 153, 153, 1);
  --simpleSelect-size-indicators: 20px;
}

.simple-select {
  position: relative;
  display: flex;
  border: 1px solid var(--simpleSelect-border, rgb(204, 204, 204));
  border-radius: var(--simpleSelect-border-radius, 4px);
  box-sizing: border-box;
}

.simple-select_isDisabled > *,
.simple-select_isDisabled {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: not-allowed !important;
  opacity: 0.5;
}

.simple-select > * {
  box-sizing: border-box;
}

.simple-select:focus-within {
  border: 1px solid var(--simpleSelect-border-focus, rgb(38, 132, 255));
}

.simple-select-control {
  display: grid;
  align-items: center;
  padding: 2px 8px;
  flex-shrink: 1;
  flex-grow: 1;
  grid-template-columns: 1;
}

.simple-select-value,
.simple-select-input-control {
  grid-area: 1/1/2/3;
  margin: 3px 0;
  padding: 1px 3px;
}

.simple-select-input-control {
  outline: 0;
  width: 100%;
}

.simple-select-input {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font: inherit;
  color: var(--simpleSelect-input-color, inherit);
  background: 0px center;
  opacity: 1;
  width: 100%;
  grid-area: 1/2;
  min-width: 2px;
  border: 0px;
  margin: 0px;
  outline: 0px;
  padding: 0px;
}

.simple-select-placeholder::-moz-placeholder {
  color: var(--simpleSelect-placeholder-color, rgb(128, 128, 128));
}

.simple-select-placeholder::placeholder {
  color: var(--simpleSelect-placeholder-color, rgb(128, 128, 128));
}

.simple-select-indicator-clearable,
.simple-select-indicator-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--simpleSelect-indicator-color, rgb(204, 204, 204));
  cursor: pointer;
  padding: 8px;
  transition: color 150ms;
}

.simple-select-indicator-separator {
  display: flex;
}

.simple-select-separator {
  border-left: 1px solid var(--simpleSelect-separator-color, rgb(204, 204, 204));
  margin: 8px 0;
}

.simple-select-indicator-size {
  width: var(--simpleSelect-size-indicators, 20px);
  height: var(--simpleSelect-size-indicators, 20px);
}

.simple-select-indicator_active {
  color: var(
    --simpleSelect-indicator-color-active,
    rgb(102, 102, 102)
  ) !important;
}

.simple-select-dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 8px;
  z-index: 50;
}

.simple-select-dropdown {
  max-height: 300px;
  overflow-y: auto;
  position: relative;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  background-color: var(--simpleSelect-dropdown-bg, rgb(255, 255, 255));
  border: 1px solid var(--simpleSelect-border, rgb(204, 204, 204));
  border-radius: var(--simpleSelect-border-radius, 4px);
}

.simple-select-option {
  cursor: default;
  display: block;
  font-size: inherit;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: inherit;
  padding: 8px 12px;
}

.simple-select-option:not(.simple-select-option__isActive):hover,
.simple-select-option__isfocused:not(.simple-select-option__isActive) {
  color: var(--simpleSelect-option-focus, inherit);
  background-color: var(--simpleSelect-option-focus-bg, rgb(222, 235, 255));
}

.simple-select-option__isActive {
  color: var(--simpleSelect-option-active, rgb(255, 255, 255));
  background-color: var(--simpleSelect-option-active-bg, rgb(49, 129, 250));
}

.simple-select-no-option {
  text-align: center;
  color: var(--simpleSelect-no-option, rgb(153, 153, 153));
  padding: 8px 12px;
}
